@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

//HTML {
//  background-repeat: no-repeat;
//  background-position:  50% 0;
//  /* По умолчанию мобильный макет */
//  background-image: url( "../img/preview/mishka-index-mobile.jpg" );
//}
//
///* Планшет */
//@media ( min-width: 768px ) {
//
//  HTML {
//    /* Планшетный макет */
//    background-image: url( "../img/preview/mishka-index-tablet.jpg" );
//  }
//
//}
//
///* Десктоп */
//@media ( min-width: 1150px ) {
//
//  HTML {
//    /* Десктопный макет */
//    background-image: url( "../img/preview/mishka-index-desktop.jpg" );
//  }
//
//}
//
//BODY {
//  opacity: .5;
//}
