$fsize-body-mobile: 15px;
$color-body: #444444;
$fsize-title-mobile: 27px;
$color-title: #010000;
$fsize-subtitle-mobile: 25px;
$color-subtitle: #010000;
$fsize-btn-mobile: 18px;
$color-btn: #444444;
