.card-product {
  outline: 1px solid red;

  span {
    font-size: 17px;
    line-height: 24px;
    color: #444444;
  }
}
.card-product__link {
  display: block;
  width: 260px;
  height: 283px;
  margin-bottom: 30px;
}
.card-product__btn {
  margin-top: 30px;
  width: 260px;
  box-sizing: border-box;
  padding: 15px 80px;
}
