.catalog-main {
  margin-bottom: 60px;
}

.catalog-main__inner {
  width: 320px;
  background-color: #f1f1f1;
  margin-left: auto;
  margin-right: auto;
  padding-top: 68px;
  padding-bottom: 78px;
  margin-bottom: 30px;
  text-align: center;
}

.catalog-main__title {
  margin: 0;
  font-size: $fsize-title-mobile;
  line-height: 30px;
}

@media #{$tablet-widths} {

  .catalog {
    margin-bottom: 55px;
  }

  .catalog-main__inner {
    width: 768px;
    padding-top: 93px;
    padding-bottom: 80px;
    margin-bottom: 79px;
  }

  .catalog-main__title {
    font-size: $fsize-title-tablet;
    line-height: 50px;
  }

}

@media #{$desktop-widths} {

  .catalog-main {
    margin-bottom: 100px;
  }

  .catalog-main__inner {
    width: 1150px;
    padding-bottom: 100px;
    margin-bottom: 130px;
  }

  .catalog-main__title {
    font-size: $fsize-title-desktop;
    line-height: 57px;
  }

}
