.product-item {
  padding-bottom: 30px;
  outline: 1px solid red;
}
.product-item__description {
  margin: 0;
  padding-bottom: 30px;
  margin-bottom: 35px;

  img {
    display: block;
    margin-bottom: 30px;
  }

  figcaption {
    padding-left: 30px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
  }

}
.product-item__size {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  font-weight: 400;
}
.product-item__price {
  padding-left: 30px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}
